/* Reset Css */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body {
    background: #193549;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}