/* Reset Css */

* {
    padding: 0;
    margin: 0;
}

:focus {
    outline: 0;
}

html {
    box-sizing: border-box;
    background: #390194;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hero {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

h1 {
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;
    text-align: center;
}